$primary-color: #9ccc65;
$secondary-color: #c5e1a5;
$text-color: #fff;
$nav-text-color: #558b2f;
$font-size-raiz: 15px;
$font-size-desktop: 1.5rem; // rem es relativo al tamaño de fuente de la raíz (html)
$font-size-mobile: 0.5rem;